#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 500px;
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

/* Elektro kaufmann Website Start */
#slide1elektro:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2elektro:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3elektro:checked ~ #slides .inner {
  margin-left: -200%;
}

#slides .slide_1_elektro {
  background-image: url("img/Elektro-Kaufmann-Desktop_Mobil.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_2_elektro {
  background-image: url("img/Elektro-Kaufmann-Mobil.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_3_elektro {
  background-image: url("img/Elektro-Kaufmann-Mockup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

#slide1elektro:checked ~ #controls label:nth-child(2),
#slide2elektro:checked ~ #controls label:nth-child(3),
#slide3elektro:checked ~ #controls label:nth-child(1) {
  background: url(img/arrow-wide-right.svg) no-repeat;
  float:right;
  margin: 0 10px 0 0;
  display: block;
}

#slide1elektro:checked ~ #controls label:nth-last-child(1),
#slide2elektro:checked ~ #controls label:nth-last-child(3),
#slide3elektro:checked ~ #controls label:nth-last-child(2){
  background: url(img/arrow-wide-left.svg) no-repeat;
  float:left;
  margin: 0 0 0 10px;
  display: block;
}

#slide1elektro:checked ~ #bullets label:nth-child(1),
#slide2elektro:checked ~ #bullets label:nth-child(2),
#slide3elektro:checked ~ #bullets label:nth-child(3){
  background: #444;
}
/* Elektro kaufmann Website Ende */

/* Social Media Start */
#slide1social1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2social1:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3social1:checked ~ #slides .inner {
  margin-left: -200%;
}

#slides .slide_1_social1 {
  background-image: url("img/Ilir-rechnet-das_Instagram_Video_Ansicht.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_2_social1 {
  background-image: url("img/Ilir-rechnet-das-YT.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_3_social1 {
  background-image: url("img/Ilir-rechnet-das_Insta-Carousel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

#slide1social1:checked ~ #controls label:nth-child(2),
#slide2social1:checked ~ #controls label:nth-child(3),
#slide3social1:checked ~ #controls label:nth-child(1) {
  background: url(img/arrow-wide-right.svg) no-repeat;
  float:right;
  margin: 0 10px 0 0;
  display: block;
}

#slide1social1:checked ~ #controls label:nth-last-child(1),
#slide2social1:checked ~ #controls label:nth-last-child(3),
#slide3social1:checked ~ #controls label:nth-last-child(2) {
  background: url(img/arrow-wide-left.svg) no-repeat;
  float:left;
  margin: 0 0 0 10px;
  display: block;
}

#slide1social1:checked ~ #bullets label:nth-child(1),
#slide2social1:checked ~ #bullets label:nth-child(2),
#slide3social1:checked ~ #bullets label:nth-child(3){
  background: #444;
}

/* Social Media Ende */



/* Deiss Start */
#slide1deiss:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2deiss:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3deiss:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4deiss:checked ~ #slides .inner {
  margin-left: -300%;
}
#slide5deiss:checked ~ #slides .inner {
  margin-left: -400%;
}

#slide1deiss ~ #slides .inner {
  width: 500%;
}

#slide1deiss ~ #slides .slide {
  width: 20%;
}

#slides .slide_1_deiss {
  background-image: url("img/Deiss-Desktop_Mobil.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_2_deiss {
  background-image: url("img/Deiss-Mobil-Screens.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_3_deiss {
  background-image: url("img/Deiss-Mockup-Branchen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_4_deiss {
  background-image: url("img/Deiss-Mockup-Marken.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

#slides .slide_5_deiss {
  background-image: url("img/Deiss-Mockup-Menu-active.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

#slide1deiss:checked ~ #controls label:nth-child(2),
#slide2deiss:checked ~ #controls label:nth-child(3),
#slide3deiss:checked ~ #controls label:nth-child(4),
#slide4deiss:checked ~ #controls label:nth-child(5),
#slide5deiss:checked ~ #controls label:nth-child(1) {
  background: url(img/arrow-wide-right.svg) no-repeat;
  float:right;
  margin: 0 10px 0 0;
  display: block;
}

#slide1deiss:checked ~ #controls label:nth-last-child(1),
#slide2deiss:checked ~ #controls label:nth-last-child(5),
#slide3deiss:checked ~ #controls label:nth-last-child(4),
#slide4deiss:checked ~ #controls label:nth-last-child(3),
#slide5deiss:checked ~ #controls label:nth-last-child(2) {
  background: url(img/arrow-wide-left.svg) no-repeat;
  float:left;
  margin: 0 0 0 10px;
  display: block;
}

#slide1deiss:checked ~ #bullets label:nth-child(1),
#slide2deiss:checked ~ #bullets label:nth-child(2),
#slide3deiss:checked ~ #bullets label:nth-child(3),
#slide4deiss:checked ~ #bullets label:nth-child(4),
#slide5deiss:checked ~ #bullets label:nth-child(5) {
  background: #444;
}


/* Deiss Ende */


/* Hochzeit Start */
#slide1hochzeit:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2hochzeit:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3hochzeit:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4hochzeit:checked ~ #slides .inner {
  margin-left: -300%;
}

#slides .slide_1_hochzeit {
  background-image: url("img/Polterabend-Einladung.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_2_hochzeit {
  background-image: url("img/Hochzeit-Paket.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_3_hochzeit {
  background-image: url("img/Willkommensschild.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}
#slides .slide_4_hochzeit {
  background-image: url("img/Tischplan.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
}

#slide1hochzeit:checked ~ #controls label:nth-child(2),
#slide2hochzeit:checked ~ #controls label:nth-child(3),
#slide3hochzeit:checked ~ #controls label:nth-child(4),
#slide4hochzeit:checked ~ #controls label:nth-child(1) {
  background: url(img/arrow-wide-right.svg) no-repeat;
  float:right;
  margin: 0 10px 0 0;
  display: block;
}

#slide1hochzeit:checked ~ #controls label:nth-last-child(2),
#slide2hochzeit:checked ~ #controls label:nth-last-child(3),
#slide3hochzeit:checked ~ #controls label:nth-last-child(4),
#slide4hochzeit:checked ~ #controls label:nth-last-child(1) {
  background: url(img/arrow-wide-left.svg) no-repeat;
  float:left;
  margin: 0 0 0 10px;
  display: block;
}

#slide1hochzeit:checked ~ #bullets label:nth-child(1),
#slide2hochzeit:checked ~ #bullets label:nth-child(2),
#slide3hochzeit:checked ~ #bullets label:nth-child(3),
#slide4hochzeit:checked ~ #bullets label:nth-child(4) {
  background: #444;
}


/* Hochzeit Ende */


#controls {
  margin: -280px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 46px;
  height: 79px;
  opacity: 1;
}
#controls label:hover {
  opacity: 1;
}


#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(img/arrow-wide-right.svg) no-repeat;
  float:right;
  margin: 0 10px 0 0;
  display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(img/arrow-wide-left.svg) no-repeat;
  float:left;
  margin: 0 0 0 10px;
  display: block;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}

#bullets {
  margin: 250px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}


@media screen and (max-width: 720px) {
  #slides {
    height: 300px;
  }

  #slides .slide {
    height: 300px;
    max-width: 100%;
  }

  #controls {
    margin: -185px 0 0 0;
  }

  #bullets {
    margin: 150px 0 0;
  }
}

@media screen and (max-width: 540px) {
  #slides {
    height: 250px;
  }

  #slides .slide {
    height: 250px;
    max-width: 100%;
  }

  #controls {
    margin: -160px 0 0 0;
  }

  #bullets {
    margin: 120px 0 0;
  }
}

@media screen and (max-width: 450px) {
  #slides {
    height: 200px;
  }

  #slides .slide {
    height: 200px;
    max-width: 100%;
  }

  #controls {
    margin: -140px 0 0 0;
  }

  #bullets {
    margin: 100px 0 0;
  }
}

@media screen and (max-width: 420px) {
  .photoshop {
    margin-top: 12px;
  }
}

.button-wrapper {
  flex-wrap: wrap;
}

@media screen and (max-width: 390px) {

  #controls {
    margin: -135px 0 0 0;
  }

  #bullets {
    margin: 100px 0 0;
  }
}

/* Neues CSS */

.hero .column-left {
  width: 30%;
}

.hero .column-right {
  width: 70%;
}

#portrait {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.button-orientierung {
  flex-direction: row;
}

.flex-direction {
  flex-direction: row;
}

h5 {
  font-size: 27px;
}
.text-projekt-wrapper {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.header-wrapper, .beschreibung-wrapper, .kernaufgaben-wrapper {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.beschreibung-wrapper {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.text-projekt-wrapper-right {
  padding-left: 24px;
}

.text-projekt-wrapper-right .beschreibung-wrapper {
  width: 100%;
}

.mt-8 {
  margin-top: 32px;
}

.kernaufgaben-wrapper ul {
  padding-left: 16px;
}

#projekte {
  margin-top: 32px!important;
}

.education-wrapper {
  padding-top: 60px;
}

.rounded-edge .about-text-wrapper {
  padding-bottom: 40px;
}

@media (min-width: 1024px) {
    .rounded-edge .content {
      margin: 140px auto 0 auto;
    }   
  

  .education-wrapper {
    padding-top: 60px;
  }

}

@media (max-width: 1024px) {
  .rounded-edge .content .inner-content {
    text-align: center;
  }

  .rounded-edge .content .about-text-wrapper .button-wrapper {
    justify-content: center;
  }

  .rounded-edge .content .about-text-wrapper {
    margin: 0 auto 0 auto;
  }

  .text-projekt-wrapper-right {
    padding-left: 0px;
    }

}

@media (min-width: 768px) {

  .rounded-edge {
    height: 64vh;
  }

  
}

@media (min-width: 640px) {
 .rounded-edge {
height: 80vh;
}

.rounded-edge .content .inner-content {
  padding-top: 8rem;
}

  .education-wrapper {
  padding-top: 70px;
  }

  .education-wrapper #bildung ul li {
    padding: 3rem 0 3rem 0;
  }

  .pt-x {
    padding-top: 8rem;
    }

}

@media (max-width: 640px) {
  .rounded-edge {
    height: 80vh;
    }

    .button-orientierung {
      flex-direction: column;
      }

    #hero-vorstellung h1 {
      font-size: 8rem;
      line-height: 6rem;
    }

    .pt-x {
      padding-top: 8rem;
      }
}

@media (max-width: 445px) {
  .flex-direction {
    flex-direction: column;
  }

  .gap-mobile {
    column-gap: 16px;
  }

  #hero-vorstellung h1 {
    font-size: 7rem;
    line-height: 5rem;
  }

  
}

@media (max-width: 400px) {

  #hero-vorstellung h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
}


/**/
